$darkBG: #121212;
$midBG: #1a1a1a;
$lightBG: #393939;

$text-muted: #7e7e7e;

@mixin center($dir) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: $dir;
}
