.toggle {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;

  input {
    opacity: 0;
    width: 0;
    height: 0;

    &:checked + .slider {
      background-color: var(--toggle-on-bg);
      &::before {
        left: calc(100% - 4px);
        transform: translateX(-100%);
        background-color: var(--toggle-thumb-on);
      }
    }
  }
  .slider {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: var(--toggle-off-bg);
    cursor: pointer;
    -webkit-transition: background 0.5s;
    transition: background 0.5s;

    &::before {
      position: absolute;
      content: "";
      height: 24px;
      width: 24px;
      left: 4px;
      bottom: 3px;
      background-color: var(--toggle-thumb-off);
      transition: 0.4s ease all, left 0.4s cubic-bezier(0.18, 0.89, 0.35, 1.15);
    }

    &:active:before {
      width: 40px;
    }

    &.round {
      border-radius: 30px;
      &:before {
        border-radius: 30px;
      }
    }
  }
}

.icon {
  @include flex(center, center);
  width: 32px;
  height: 32px;
  border-radius: 50%;
  cursor: pointer;
  color: grey;
  transition: background 0.3s;
  transition: color 0.1s;

  &:hover {
    background: var(--icon-hover-bg);
  }

  &:active {
    color: #fafafa;
  }
}

.scheme {
  @include flex(space-between, center);

  .theme {
    width: 30px;
    height: 30px;
    margin-top: 10px;
    border-radius: 50%;
    // background: lightslategray;
    border: 2px solid hsl(0, 0%, 30%);
    cursor: pointer;
    transition: border 0.1s;
    &:hover {
      border: 2px solid hsl(0, 0%, 60%);
    }
    &:active {
      transform: scale(0.95);
    }
  }

  #dark {
    background: hsl(0, 0%, 7%);
  }

  #ocean {
    background: hsl(215, 13%, 18%);
  }
}

.btn {
  border: none;
  outline: none;
  padding: 6px 12px;
  border-radius: 4px;
  font-family: inherit;
  background: rgba(250, 250, 250, 0.2);
  text-transform: uppercase;
  color: #fafafa;
  cursor: pointer;
  transition: background 0.1s;

  &:hover {
    background: rgba(250, 250, 250, 0.3);
  }
  &:active {
    background: rgba(250, 250, 250, 0.4);
  }

  &.btn-danger {
    color: rgb(255, 200, 200);
    background: rgba(255, 20, 0, 0.2);
    &:hover {
      background: rgba(255, 20, 0, 0.3);
    }
    &:active {
      background: rgba(255, 20, 0, 0.4);
    }
  }

  &.btn-success {
    color: rgb(200, 255, 200);
    background: rgba(20, 255, 30, 0.2);
    &:hover {
      background: rgba(20, 255, 30, 0.3);
    }
    &:active {
      background: rgba(20, 255, 30, 0.4);
    }
  }
}
