* {
    /* border: 1px dotted blue; */
    box-sizing: border-box;
    margin: 0; padding: 0;
}

body {
    height: 100vh;
    background:#191919;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Courier New', Courier, monospace;
}

.card > * {
    margin-top: 40px;
}
.card {
    position: relative;
    width: 440px;
    height: 700px;
    padding: 0 30px;
    border-radius: 40px;
    background: #121212;
    color: lime;
    text-shadow: 0 0 16px lime, 0 0 8px lime, 0 0 4px lime;
    box-shadow: 0 0 20px #121212;
    user-select: none;
}


#morse-screen {
    width: 100%;
    height: 150px;
    padding: 10px;
    border-radius: 10px;
    /* background: #191919; */
    background: linear-gradient(145deg, #242424, #1a1a1a);
    box-shadow:  
        5px 5px 0px #121212,
        -5px -5px 0px #121212;

    font-size: 60px;
    text-align: center;
    overflow: hidden;
    word-wrap: break-word;
}

#text-screen {
    width: 100%;
    height: 150px;
    padding: 10px;
    border-radius: 10px;
    background: linear-gradient(145deg, #2b2b2b, #202020);
    box-shadow:  
        5px 5px 0px #121212,
        -5px -5px 0px #121212;
    font-size: 16px;
    word-wrap: break-word;
}


.buttons {
    position: relative;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#morse-btn {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background:#202020;
    cursor: pointer;
    transition: 0.1s ease-out;
}

#clear-btn  {
    position: absolute;
    left: 40px;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;

    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #222222;

    cursor: pointer;
    transition: 0.1s ease-out;
}

#delete-btn  {
    position: absolute;
    transform: translateX(50%);
    right: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #222222;

    cursor: pointer;
    transition: 0.1s ease-out;
}
#morse-btn:hover,
#clear-btn:hover,
#delete-btn:hover {
    background: #252525;
}