* {
    /* border: 1px dotted blue; */
    box-sizing: border-box;
    margin: 0; padding: 0;
}


img { filter: invert(); }


body {
    height: 100vh;
    background:#1d1d1d;
    color: rgb(200, 200, 200);
    /* color: red; */
    /* text-shadow: 1px 1px 10px red; */
    line-height: 1.2em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
}


h2,h3 {
    margin-bottom: 10px;
}



.morse > * {
    margin-top: 40px;
}
.morse {
    position: relative;
    width: 500px;
    height: 650px;
    padding: 0 30px;
    border-radius: 10px;
    background: #121212;
    /* color: lime; */
    /* text-shadow: 0 0 8px lime, 0 0 4px lime; */
    box-shadow: 0 0 20px #121212;
    user-select: none;
}

.status-bar {
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
} 

input#level {
    appearance: none;
    width: 100%;
    height: 4px;
    background: grey;

}
input#level::-webkit-slider-thumb {
    appearance: none;
    width: 14px;
    height: 14px;
    background: grey;
    border-radius: 50%;
}

#morse-screen {
    width: 100%;
    height: 140px;
    padding: 20px;
    border-radius: 10px;
    /* background: #191919; */
    
    background: linear-gradient(145deg, #242424, #1a1a1a);
    box-shadow:  
        5px 5px 0px #121212,
        -5px -5px 0px #121212;

    font-size: 80px;
    text-align: center;
    overflow: hidden;
    word-wrap: break-word;
}

#text-screen {
    width: 100%;
    height: 200px;
    padding: 10px;
    border-radius: 10px;
    /* background: linear-gradient(145deg, #2d2d2d, #232323); */
    background: linear-gradient(145deg, #242424, #1a1a1a);
    text-shadow: none;
    box-shadow:  
        5px 5px 0px #121212,
        -5px -5px 0px #121212;
    font-size: 20px;
    word-wrap: break-word;
}


.buttons {
    position: relative;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#morse-btn {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background:#202020;
    box-shadow: inset 0 0 4px grey;
    cursor: pointer;
    transition: 0.1s ease-out;
    /* -webkit-animation: flicker 4s ease infinite;
    animation: flicker 4s ease infinite; */
}

#clear-btn  {
    position: absolute;
    left: 40px;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;

    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #222222;

    cursor: pointer;
    transition: 0.1s ease-out;
}

#delete-btn  {
    position: absolute;
    transform: translateX(50%);
    right: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #222222;

    cursor: pointer;
    transition: 0.1s ease-out;
}
#morse-btn:hover,
#clear-btn:hover,
#delete-btn:hover {
    background: #252525;
}



.alphabet {
    width: 150px;
    height: 650px;
    padding: 20px;
    border-radius: 10px;
    font-size: 16px;
    background: #121212;
    
    overflow-y: scroll;
}
.alphabet::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 10px;
}
.alphabet::-webkit-scrollbar-thumb {
    background: #161616;
    cursor: pointer;
}
.alphabet::-webkit-scrollbar-thumb:hover {
    background: #202020;
}



.side-bar {
    height: 650px;
}
.card {
    width: 270px;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 10px;
    font-size: 14px;
    background: #121212;
    transition: .5s;
}
.card:hover {
    box-shadow: 0 0 10px #121212;
}
.card .social {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}
.social img {
    width: 40px;
    opacity: .6;
}

@media (max-width: 800px) {
    body {
        height: auto;
        padding: 20px;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .morse,
    .alphabet,
    .side-bar,
    .card {
        width: 100%;
        margin-top: 20px;
        text-align: center;
    }
}

/* @-webkit-keyframes flicker {
    0%{background:#202020}
    50%{background: #284219}
    100%{background:#202020}
} */